/* Add custom styles here */
body{
    font-family: sans-serif;
}
#logo{
    width: 200px;
    height: 50px;
    padding: 0%;
    margin-left : 10px;
    margin-right : 100px;
}
#git-img{
    display: inline-block;
    height: 70px;
    width: 70px;
}
#header1{
    font-size: 50px;
    font-weight: bold;
}
#header2{
    font-size: 20px;
    color: grey;
}

#header3,#header4{
    font-size: 30px;
}